.active {
  color: #5ece7b;
  border-bottom: #5ece7b 2px solid;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #1d1f22;
}
.noselect,
h1,
title,
header {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
           supported by Chrome, Edge, Opera and Firefox */
}
